  header {
    overflow: hidden;
    background-color: hsl(308, 73%, 32%);
    padding: 20px 10px;
  }
  
  /* Style the header links */
  header a {
    float: right;
    color:yellowgreen;
    text-align: center;
    padding: 12px;
    text-decoration:none;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 20px;
    line-height: 25px;
    border-radius: 4px;
  }

  h1{
    float: inline-start;
    color:yellowgreen;
    text-align: center;
    padding: 12px;
    text-decoration:none;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 30px;
    line-height: 25px;
    border-radius: 4px;

  }

  .screen-reader-text {
    border: 0;
    clip: rect(1px, 1px, 1px, 1px);
    clip-path: inset(50%);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
    word-wrap: normal !important;
  }

  footer{
     
      overflow: hidden;
      background-color: hsl(308, 73%, 32%);
      padding: 20px 10px;
    
      }
  